*{box-sizing:border-box;
margin:0;
padding:0;}


    .card {
      
  width: 300px; /*for tab width is */
  height:auto;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.card img {
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;

}

.card:hover{
  background-color:gray;
  color:white;
}

.contact {
  display: flex;
  justify-content: center;
  gap:10px;
  flex-wrap: wrap;
}

.contact a{
  text-decoration: underline;
cursor: pointer;}

.contact:hover a {color:white;
text-decoration: none;}

/*on largescreen disply 2cards */
.cardss{
  display:flex;
      justify-content: center;
      flex-wrap: wrap;
      gap:20px;
} 

/*responsive  design*/

@media (max-width:600px){
  .card{ width:90%;
  margin: 30px auto;
}/*for mobile or small device use 90%of width*/

  .card img{width:120px;}

  
 }

